.page {
    position: relative;
    padding: 3px 5px;

    .tools {
        position: absolute;
        right: 5px;
        top: 3px;
        display: none;
        //visibility: hidden;
    }

    &.selected {
        background-color: #e1e1e1;
        //font-weight: bold;
    }
    &:hover {
        background-color: #f0f0f0;

        & > .tools {
            display: block;
            //visibility: visible;
        }
    }
}
