<table>
    <tr *ngFor="let page of project.pages; let i=index;">
        <td (click)="open(i)">
            {{page.name}}
        </td>
        <td>
            <nz-space>
                <span nz-icon *nzSpaceItem nzType="edit" nzTheme="outline" title="重命名" style="cursor:pointer;"
                    (click)="handleEdit(i)"></span>
                <span nz-icon *nzSpaceItem nzType="delete" nzTheme="outline" title="删除" style="cursor:pointer;"
                    (click)="handleDel(i)"></span>
            </nz-space>
        </td>
    </tr>
</table>
