
<i nz-icon (click)="handleSave()" nzType="save" title="保存"></i>
<i nz-icon (click)="handleExport()" nzType="export" title="导出" disabled></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon (click)="handleUndo()" nzType="undo" title="撤销" *ngIf="graph.canUndo()"></i>
<i nz-icon (click)="handleRedo()" nzType="redo" title="重做" *ngIf="graph.canRedo()"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon (click)="handleCut()" nzType="scissor" title="剪切"></i>
<i nz-icon (click)="handleCopy()" nzType="copy" title="复制"></i>
<i nz-icon (click)="handlePaste()" nzType="snippets" title="粘贴"></i>
<i nz-icon (click)="handleDelete()" nzType="delete" title="删除"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon (click)="handleAlignLeft()" nzType="align-left" title="左对齐"></i>
<i nz-icon (click)="handleAlignCenter()" nzType="align-center" title="居中对齐"></i>
<i nz-icon (click)="handleAlignRight()" nzType="align-right" title="右对齐"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon (click)="handleValignTop()" nzType="vertical-align-top" title="上对齐"></i>
<i nz-icon (click)="handleValignMiddle()" nzType="vertical-align-middle" title="居中对齐"></i>
<i nz-icon (click)="handleValignBottom()" nzType="vertical-align-bottom" title="下对齐"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon (click)="handleMoveTop()" nzType="vertical-right" title="置顶" [nzRotate]="90"></i>
<i nz-icon (click)="handleMoveUp()" nzType="up" title="上移一层"></i>
<i nz-icon (click)="handleMoveDown()" nzType="down" title="下移一层"></i>
<i nz-icon (click)="handleMoveBottom()" nzType="vertical-left" title="置底" [nzRotate]="90"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon (click)="handleGroup()" nzType="group" title="组合"></i>
<i nz-icon (click)="handleUngroup()" nzType="ungroup" title="解除组合"></i>
