<i nz-icon nzType="save" title="保存"></i>
<i nz-icon nzType="export" title="导出"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon nzType="undo" title="撤销"></i>
<i nz-icon nzType="redo" title="重做"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon nzType="scissor" title="剪切"></i>
<i nz-icon nzType="copy" title="复制"></i>
<i nz-icon nzType="snippets" title="粘贴"></i>
<i nz-icon nzType="delete" title="删除"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon nzType="align-left" title="左对齐"></i>
<i nz-icon nzType="align-center" title="居中对齐"></i>
<i nz-icon nzType="align-right" title="右对齐"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon nzType="vertical-align-top" title="上对齐"></i>
<i nz-icon nzType="vertical-align-middle" title="居中对齐"></i>
<i nz-icon nzType="vertical-align-bottom" title="下对齐"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon nzType="vertical-right" title="置顶" [nzRotate]="90"></i>
<i nz-icon nzType="up" title="上移一层"></i>
<i nz-icon nzType="down" title="下移一层"></i>
<i nz-icon nzType="vertical-left" title="置底" [nzRotate]="90"></i>
<nz-divider nzType="vertical"></nz-divider>
<i nz-icon nzType="group" title="组合"></i>
<i nz-icon nzType="ungroup" title="解除组合"></i>
