<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="设置数据"></nz-step>
    <nz-step nzTitle="预览"></nz-step>
    <nz-step nzTitle="生成图表"></nz-step>
</nz-steps>

<app-first-step [style]="'display:'+(current==0?'block':'none')"
    #firstStep></app-first-step>
<app-second-step [style]="'display:'+(current==1?'block':'none')"
    #secondStep></app-second-step>

<div style="text-align: center;margin-top:20px;">
    <button nz-button
        (click)="pre()"
        style="margin-right: 10px;"
        *ngIf="current > 0">
        <span>上一步</span>
    </button>
    <button nz-button
        nzType="primary"
        (click)="next()"
        *ngIf="current < 2">
        <span>下一步</span>
    </button>
</div>
