<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="设置数据"></nz-step>
    <nz-step nzTitle="预览"></nz-step>
</nz-steps>

<app-first-step [style]="'display:'+(current==0?'block':'none')"
    #firstStep></app-first-step>
<app-second-step *ngIf="current==1"
    [echartType]="echartType"
    [echartData]="echartData"
    #secondStep></app-second-step>

<div style="text-align: center;margin-top:20px;">
    <ng-container [ngSwitch]="current">
        <button nz-button
            nzType="primary"
            (click)="next()"
            *ngSwitchCase="0">
            <span>下一步</span>
        </button>
        <button nz-button
            (click)="pre()"
            style="margin-right: 10px;"
            *ngSwitchCase="1">
            <span>上一步</span>
        </button>
        <button nz-button
            nzType="primary"
            (click)="handleCreateGraph()"
            *ngSwitchCase="1">
            <span>生成图表</span>
        </button>
    </ng-container>
</div>
