:host {
    width: 241px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    border-left: 1px solid #a8a8a8;
    //background: #f1f3f4;
}

table {
    width: 100%;
    td{
        //border: 1px solid grey;
        //border-collapse: collapse;
        //border-spacing: 0;
    }

    :first-child(tr) {
        min-width: 80px;
    }

    tr {
        display: flex;
        justify-content: space-between;
    }
}
