:host{
    height: 100%;
    width: 200px;
    //overflow-y: auto;
    overflow: hidden;

    user-select: none;

    border-right: 1px solid #a8a8a8;
    position: relative;

    display: flex;
    flex-direction: column;
}

.header {
    //height: 40px;
    //line-height: 40px;
    background-color: #f0f0f0;
    padding: 5px;
}

.collections {
    flex: 1;
    overflow: auto;
}

.more-btn{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}


.item {
    display: inline-block;
    text-align: center;
    padding: 4px;
    cursor: pointer;

    .icon {
        width: 30px;
        height: 30px;
    }

    .name {
        //font-size: 10px;
    }
}

