
.item {
    display: inline-block;
    text-align: center;
    padding: 4px;
    cursor: pointer;

    .icon {
        width: 30px;
        height: 30px;
    }

    .name {
        //font-size: 10px;
    }
}
