<nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="reload()">
        <i nz-icon nzType="reload" [nzSpin]="loading"></i>
        刷新
    </button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="add()">
        <i nz-icon nzType="plus"></i>
        新增
    </button>
</nz-space>

<ng-template #totalTemplate let-total>总共 {{ total }} 条</ng-template>
<nz-table #basicTable [nzData]="datum" [nzFrontPagination]="false" [nzLoading]="loading" nzShowPagination
    [nzTotal]="total" nzShowSizeChanger [nzShowTotal]="totalTemplate" (nzPageSizeChange)="pageSizeChange($event)"
    (nzPageIndexChange)="pageIndexChange($event)" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQuery($event)">
    <thead>
        <tr>
            <th nzColumnKey="id" [nzSortFn]="true">ID</th>
            <th nzColumnKey="name">名称</th>
            <th nzColumnKey="created" [nzSortFn]="true">创建日期</th>
            <th nzColumnKey="updated" [nzSortFn]="true">更新日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{data.updated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
                <a target="_blank" [href]="'view/'+data.id">
                    <i nz-icon nzType="eye"></i>
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="handleEdit(data.id)">
                    <i nz-icon nzType="edit"></i>
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmTitle="确定删除?" (nzOnConfirm)="delete(data.id)" (nzOnCancel)="cancel()"
                    nzPopconfirmPlacement="topLeft">
                    <i nz-icon nzType="delete"></i>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>

<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.5 16H13.5C16 16 17.5 14.2 17.5 12V6.91C17.5 5.86 16.64 5 15.59 5H8.42006C7.37006 5 6.51006 5.86 6.51006 6.91V12C6.50006 14.2 8.00005 16 10.5 16Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M9.5 2V5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M14.5 2V5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 22V16" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
